<ion-header>
  <ion-toolbar padding color="dark">

    
    <div class="title">
      <ion-title color="tertiary">Home</ion-title>
    </div>

    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-menu-toggle >
    
  </ion-menu-toggle>

</ion-content>
