<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs >

    <ion-tab-bar color="dark" slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon color="tertiary" name="home"></ion-icon>
        <ion-label color="tertiary">Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search" (click)= "searchTabSelected()">
        <ion-icon color="tertiary" name="search"></ion-icon>
        <ion-label color="tertiary">Recherche</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="createlfg" (click)= "searchTabSelected()">
        <ion-icon color="tertiary" name="add"></ion-icon>
        <ion-label color="tertiary">Création</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="notifications" (click)= "searchTabSelected()">
        <ion-icon color="tertiary" name="notifications"></ion-icon>
        <ion-label color="tertiary">Notifications</ion-label>
      </ion-tab-button>


    </ion-tab-bar>

  </ion-tabs>
</ion-content>
